<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <div id="main">
            <div id="head">
                <h2>Tuấn anh</h2>
            </div>

            <div id="head-link">
                <h1></h1>
            </div>

            <div id="left"><h2></h2>
            </div>

            <div id="content">
            </div>

            <div id="right">
            </div>

            <div id="footer">
            </div>
        </div>
    </body>
</html>