
h1{
    color: #f52828e1;
    border: 0.1px solid black;
    background: pink;
    font-size: 3em;
    font-weight: 90;
    text-align: center;
    text-transform: capitalize;
}
img{
    max-width: 90%;
}
a{
    color: yellow;
    font-size: 2em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    text-transform: capitalize;
}
div{
    color: #000;
    font-size: small;
    border: 1px solid red;
}
